extends ../layout.pug

block content
    h1 #{locales.en.about}
    p #{locales.en.aboutPageText}
    a(href='index.html') #{locales.en.goToHome}
    a(href='?lang=ar') #{locales.en.viewInArabic}
    a(href='?lang=en') #{locales.ar.viewInEnglish}
