extends ../layout.pug

block content
   include ../components/header
   section.intro.d-flex.justify-content-center.align-items-center
    .container
        .d-flex.flex-column.justify-content-center.align-items-center
            h2.color-primary.fs-2.fw-semibold.fw-lg-bold.lh-base(data-aos='fade-down') لقد اجتمعنا في هذا البيت من كل مكان
            p.fs-4.fw-normal.fw-lg-medium.lh-base.w-75.text-center(data-aos='fade-down') لنعطي من خبراتنا و معرفتنا كل من يريد معلومة أو يبحث عن متخصص في إحدى المجالات ولديه الخبرة من أرض الواقع في العديد من التخصصات المالية و الإدارية و الأنشطة التجارية المختلفة.
            .buttons-group.d-flex.align-items-start.gap-3(data-aos='fade-right')
                button.btn.circle-btn.button-primary(type="button") من نحن
                button.btn.circle-btn.button-light(type="button") تواصل معنا
   section.slogan.bg-gray2
      .container
         +sectionTitle('بيت الخبراء الموحد')
         .slogan-items.g-3.justify-content-between.d-flex.flex-row.flex-wrap
            -const slogan1 = {img:'deal', caption: ['تعاون', 'Cooperation'], dataAos:'fade-right'}
            -const slogan2 = {img:'content-strategy', caption: ['استراتيجية', 'Strategy'], dataAos:'fade-up'}
            -const slogan3 = {img:'creativity', caption: ['ابتكار', 'Innovation'], dataAos:'fade-down'}
            -const slogan4 = {img:'growth', caption: ['نجاح', 'Success'], dataAos:'fade-left'}
            -const slogans = [slogan1, slogan2, slogan3, slogan4]
            each slogan in slogans
               figure.slogan-figure.text-center.shadow.row.flex-column.align-items-center(data-aos=`${slogan.dataAos}`)
                  img.img-fluid.slogan-img(src=`./imgs/icons/${slogan.img}.png`, alt="client")
                  figcaption.fs-4.fw-bold.color-primary
                     h5 #{slogan.caption[0]}
                     h5 #{slogan.caption[1]}
   section.ceo
      .container
         +sectionTitle('كلمة الرئيس التنفيذي')
         .custom-row.row.justify-content-between
            .col-12.col-lg-8
               p.ceo-word(data-aos='fade-right')
                  span إن مبدأ الإستشارة في حياتنا هو نهج صحيح يجب أن نضعه من أولوياتنا<span class='color-primary'> لنضمن بمشيئة الله الإستقرار و الاستمرار و النجاح لأعمالنا و منشاتنا</span>. و لأن هذا المجال يكمن نجاحه في تحديد الأهداف بشكل صحيح فإن <span class='color-primary'>الوصول الى تحقيق هذه الأهداف يعتمد على اتباع خطوات صحيحة و واضحة</span> و مجربة و بالتالي نصنع منهجية سلسة و مرنة تؤدي بنا الى تحقيق المستهدفات. و بناءاً عليه قمنا بتشييد <span class='color-primary fw-bold'>”بيت الخبراء الموحد”</span> ليجتمع قيه خبراءنا مع رواد الأعمال و أصحاب المنشآت و نمكنهم من الوصول الى أهدافهم من خلال خبير متخصص في مجالهم من واقع خبرة عملية ناجحة

            .col-12.col-lg-4
               img.img-fluid.img-ceo(src="./imgs/background/ceo.png", alt="CEO", data-aos='zoom-in-left')
   include ../components/cards
   section.exp.bg-gray2.overflow-x-hidden
      //- .container
      .exp-body.text-center
         h3.fs-bold.h3.mb-0.color-primary.text-uppercase الخبرات
         p.txt(data-aos='zoom-in-up') لقد عمل خبراءنا في مجالات مختلفة و قطاعات ريادية و سنستعرض هنا جهات العمل التي إنضم اليها خبراءنا خلال مسيرتهم المهنية
      #scrollableElement.clients.position-relative.overflow-hidden.w-100
         .marquee.d-flex.justify-content-between
            -const clientsLogo = ['94','95', '96', '97', '98', '99', '100', '101', '102']
            each client in clientsLogo
               img#marquee.img-fluid.client-img(src=`./imgs/exprience_logos/Asset ${client}.png`, alt="client logo")
      .exp-btn.text-center.pt-4
         a.exp-btn.btn.circle-btn.button-primary(href='#') مشاهدة المزيد

   include ../components/service

   section.works
      .container
         h3.fs-bold.h3.mb-0.text-uppercase.text-center.text-white(data-aos='fade-down') التخصصات
         .row.row-cols-2.row-cols-sm-2.row-cols-lg-4.justify-content-between.mt-4
            -const work1 = {img: '380', caption: 'تطوير المنتجات'}
            -const work2 = {img: '390', caption: 'تطوير الاعمال'}
            -const work3 = {img: '379', caption: 'التطوير العقاري'}
            -const work4 = {img: '389', caption: 'المساهمات العقارية'}
            -const work5 = {img: '378', caption: 'ادارة الاملاك العقارية'}
            -const work6 = {img: '388', caption: 'التمويل و الصكوك الاسلامية'}
            -const work7 = {img: '387', caption: 'التقنية المالية'}
            -const work8 = {img: '377', caption: 'الدراسات المالية'}
            -const works = [work1, work2, work3, work4, work5, work6, work7, work8]
            each work in works
               figure.work-special.text-center.col(data-aos='zoom-in')
                  img.img-fluid(src=`./imgs/specialization_icons/Asset ${work.img}.png`, alt="asset", width="85", height="85")
                  figcaption.lh-base.fs-5.text-white #{work.caption}
         .exp-btn.text-center.pt-4
            a.works-btn.btn.circle-btn.button-light(href='service.html') مشاهدة المزيد
   include ../components/timeline
   section.our-clients
      .container
         +sectionTitle('ابرز عملاءنا')
         .slider-wrapper: .clients-slider.owl-carousel.owl-theme
            -const client1 = {img: "1", title: "قرضي الرقمية"}
            -const client2 = {img: "2", title: "بناء الاعمال الوطنية"}
            -const client3 = {img: "3", title: "امكان العربية"}
            -const client4 = {img: "4", title: "امداد لتموين الطعام"}
            -const client5 = {img: "5", title: "مدرسة الاوراق الخضراء"}
            -const clients = [client1, client2, client3, client4, client5]
            each client in clients
               figure.slider-figure.text-center.item.client-fig.shadow.d-flex.flex-column.align-items-center
                  img.img-fluid.client-logo(src=`./imgs/logos/client${client.img}.png`, alt="client")
                  figcaption.fs-4.fw-bold.color-primary #{client.title}
   section.features
      .container
         h3.h3.mb-0.text-white.text-uppercase.mb-4(data-aos='fade-down') بماذا نتميز ...؟
         #features-carousel.carousel.slide(data-bs-ride="carousel")
            .carousel-indicators
               button.active(type='button', data-bs-target='#features-carousel', data-bs-slide-to='0', aria-current='true', aria-label='Slide 1')
               button(type='button', data-bs-target='#features-carousel', data-bs-slide-to='1', aria-label='Slide 2')
            .carousel-inner
               .carousel-item.active
                  //- .carousel-caption.d-md-block
                  p.fs-5.w-75.text-center.text-white.mx-auto.lh-lg.feature-text إن الانفراد الذي اضفناه في بيت الخبراء الموحد هي خدمة الاشراف الاستشاري لقد وضعنا انفسنا في صفك, و تابعنا العمل من مكانك لنتأكد من جودة الدراسات المقدمة لك, نناقشها نيابة عنك و نراجعها و نتأكد من دقتها و ماذا ينقصها لتكن واقعية و هل يمكن تطبيقها فعليا.

               .carousel-item
                  //- .carousel-caption.d-md-block
                  p.fs-5.w-75.text-center.text-white.mx-auto.lh-lg.feature-text Sإن التقارير الجميلة و البيانات الطموحة تحتاج لمن يقرأها بعين الخبير و يتأكد فاعليتها.ولذلك خبرائنا يضعون حجر الاساس بعلمهم, يوثقون القواعد و الأركان بمعرفتهم و يراقبون البناء بخبراتهم.حتى يكن لدينا صرحا من المعلومات يحمي أهدافنا.

   section.contact
      .container
         +sectionTitle('نحن معك دائما')
         .contact-form.mt-4.shadow
            .row.row-cols-1.row-cols-lg-2.justify-content-between(data-aos='zoom-out')
               .img-wrapper.d-none.d-lg-block
               .form-wrapper
                  .content.py-4
                     h3.text-center.colot-primary طلب استشارة
                     p.text-center.colot-primary.lh-base
                        span شكراً على اهتمامك بـ<span class=fw-bold>"بيت الخبراء الموحد"!</span> تواصل معنا وشاركنا أسئلتك واقتراحاتك وأفكارك، فتواصلك يسرّنا دوماً
                  form.form.row.g-3
                     .col-12.col-lg-6: input.form-control(type="text" placeholder="الاسم الاول" aria-label="First name")
                     .col-12.col-lg-6: input.form-control(type="text" placeholder="الاسم الاخير" aria-label="Last name")
                     .col-12: input.form-control(type="email" placeholder="البريد الااكتروني")
                     .col-12: input.form-control(type="tel" name="phone" placeholder="رقم الهاتف" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required)
                     .col-12: textarea.form-control(rows="5", placeholder='تفاصيل الاستشارة')
                     button.btn.mx-auto.button-primary.w-50.mt-4.submit-btn(type="submit") ارسال


   include ../components/footer
