extends ../layout.pug

block content
   include ../components/header
   section.intro.d-flex.justify-content-center.align-items-center
    .container
        .d-flex.flex-column.justify-content-center.align-items-center
            h2.color-primary.fs-2.fw-semibold.fw-lg-bold.lh-base.custom-title(data-aos='fade-down') #{locales.intro["title"]}
            p.fs-4.fw-normal.fw-lg-medium.lh-base.w-75.text-center.custom-txt(data-aos='fade-down') #{locales.intro["txt"]["normal"]}
            .buttons-group.d-flex.align-items-start.gap-3(data-aos='fade-right')
                a.btn.circle-btn.button-primary(href="about.html") #{locales.intro["btn1"]}
                a.btn.circle-btn.button-light(type="button" href="consultant.html") #{locales.intro["btn2"]}
   section.slogan.bg-gray2
      .container
         +sectionTitle(`${locales.slogan["title"]}`)
         .slogan-items.g-3.justify-content-between.d-flex.flex-row.flex-wrap
            -const slogan1 = {img:'deal', caption: ['تعاون', 'Cooperation'], dataAos:'fade-right'}
            -const slogan2 = {img:'content-strategy', caption: ['إستراتيجية', 'Strategy'], dataAos:'fade-up'}
            -const slogan3 = {img:'creativity', caption: ['إبتكار', 'Innovation'], dataAos:'fade-down'}
            -const slogan4 = {img:'growth', caption: ['نجاح', 'Success'], dataAos:'fade-left'}
            -const slogans = [slogan1, slogan2, slogan3, slogan4]
            each slogan in slogans
               figure.slogan-figure.text-center.shadow.row.flex-column.align-items-center(data-aos=`${slogan.dataAos}`)
                  img.img-fluid.slogan-img(src=`../imgs/icons/${slogan.img}.png`, alt="client")
                  figcaption.fs-4.fw-bold.color-primary
                     h5.custom-title3 #{slogan.caption[0]}
                     h5.custom-title3 #{slogan.caption[1]}
   section.ceo
      .container
         +sectionTitle(`${locales.ceo["title"]}`)
         .custom-row.row.justify-content-between
            .col-12.col-lg-8
               p.ceo-word.custom-txt(data-aos='fade-right')
                  span #{locales.ceo["txt"]["normal1"]}<span class='color-primary'> #{locales.ceo["txt"]["normal2"]}</span>#{locales.ceo["txt"]["normal3"]}<span class='color-primary'>#{locales.ceo["txt"]["normal4"]}</span> #{locales.ceo["txt"]["normal5"]}<span class='color-primary fw-bold'>#{locales.ceo["txt"]["bold1"]}</span> #{locales.ceo["txt"]["normal6"]}

            .col-12.col-lg-4
               a(href='https://www.linkedin.com/in/rawad-zarea-')
                  img.img-fluid.img-ceo(src="../imgs/background/executive.png", alt="CEO", data-aos='zoom-in-left')
   include ../components/startAbout
   include ../components/cards
   section.exp.bg-gray2.overflow-x-hidden
      //- .container
      .exp-body.text-center
         h3.fs-bold.h3.mb-0.color-primary.text-uppercase.custom-title #{locales.exp2["title"]}
         p.txt.custom-txt(data-aos='zoom-in-up') #{locales.exp2["txt"]["normal"]}
      #scrollableElement.clients.position-relative.overflow-hidden.w-100
         .marquee.d-flex.justify-content-between
            -const clientsLogo = ['94','95', '96', '97', '98', '99', '100', '101', '102']
            each client in clientsLogo
               img#marquee.img-fluid.client-img(src=`../imgs/exprience_logos/Asset ${client}.png`, alt="client logo")
      .exp-btn.text-center.pt-4
         a.exp-btn.btn.circle-btn.button-primary(href='experience.html') #{locales.exp2["btnMore"]}

   include ../components/service

   section.works
      .container
         h3.fs-bold.h3.mb-0.text-uppercase.text-center.text-white.custom-title(data-aos='fade-down') #{locales.works2["title"]}
         .row.row-cols-2.row-cols-sm-2.row-cols-lg-4.justify-content-between.mt-4
            -const work1 = {img: '1', caption: `${locales.works2["caption1"]}` }
            -const work2 = {img: '2', caption: `${locales.works2["caption2"]}`}
            -const work3 = {img: '3', caption:`${locales.works2["caption3"]}` }
            -const work4 = {img: '4', caption:`${locales.works2["caption4"]}` }
            -const work5 = {img: '5', caption:`${locales.works2["caption5"]}` }
            -const work6 = {img: '6', caption:`${locales.works2["caption6"]}` }
            -const work7 = {img: '7', caption:`${locales.works2["caption7"]}` }
            -const work8 = {img: '8', caption:`${locales.works2["caption8"]}` }
            -const works = [work1, work2, work3, work4, work5, work6, work7, work8]
            each work in works
               figure.work-special.text-center.col(data-aos='zoom-in')
                  img.img-fluid(src=`../imgs/specialization_icons/Asset ${work.img}.svg`, alt="asset", width="85", height="85")
                  figcaption.lh-base.fs-5.text-white.custom-txt2 #{work.caption}
         .exp-btn.text-center.pt-4
            a.works-btn.btn.circle-btn.button-light(href='service.html') #{locales.works2["btnMore"]}
   include ../components/timeline
   include ../components/consultantStepsTimeline
   section.our-clients
      .container
         +sectionTitle(`${locales.clients["title"]}`)
         .slider-wrapper: .clients-slider.owl-carousel.owl-theme
            -const client1 = {img: "1.svg", title: `${locales.clients["caption1"]}` }
            -const client2 = {img: "2.png", title: `${locales.clients["caption2"]}`}
            -const client3 = {img: "3.png", title: `${locales.clients["caption3"]}`}
            -const client4 = {img: "4.png", title: `${locales.clients["caption4"]}` }
            -const client5 = {img: "5.png", title: `${locales.clients["caption5"]}`}
            -const client6 = {img: "6.png", title: `${locales.clients["caption6"]}`}
            -const client7 = {img: "7.png", title: `${locales.clients["caption7"]}`}
            -const client8 = {img: "8.png", title: `${locales.clients["caption8"]}`}
            -const clients = [client1, client2, client3, client4, client5, client6, client7, client8]
            each client in clients
               figure.slider-figure.text-center.item.client-fig.shadow.d-flex.flex-column.align-items-center
                  img.img-fluid.client-logo(src=`../imgs/logos/client${client.img}`, alt="client")
                  figcaption.fs-5.fw-bold.color-primary.custom-txt2 #{client.title}
   section.features
      .container
         h3.h3.mb-0.text-white.text-uppercase.mb-4.custom-title(data-aos='fade-down') #{locales.features["title"]}
         #features-carousel.carousel.slide(data-bs-ride="carousel")
            .carousel-indicators
               button.active(type='button', data-bs-target='#features-carousel', data-bs-slide-to='0', aria-current='true', aria-label='Slide 1')
               button(type='button', data-bs-target='#features-carousel', data-bs-slide-to='1', aria-label='Slide 2')
            .carousel-inner
               .carousel-item.active
                  //- .carousel-caption.d-md-block
                  p.fs-5.w-75.text-center.text-white.mx-auto.lh-lg.feature-text.custom-txt #{locales.features["txt"]["normal1"]}

               .carousel-item
                  //- .carousel-caption.d-md-block
                  p.fs-5.w-75.text-center.text-white.mx-auto.lh-lg.feature-text.custom-txt #{locales.features["txt"]["normal2"]}

   include ../components/form1

   include ../components/footer
