section.who
    .container
        +sectionTitle('في بيتنا خبير')
        .row.row-cols-1.row-cols-lg-3.g-4.cards-p
            -const card1 = {img:'grid1', title:'التأسيس', body: 'من خلال خبراتنا كمؤسسين لبيت الخبراء أصبح لدينا الكثير من الأصدقاء و الزملاء و المعارف في جميع المجالات و بالتالي مهما كان مشروعك أو هدفك سنبحث لك في بيتنا ما يلبي احتياجاتك أو قد نستضيف لمشروعك خصيصا من يدعم طلبك و يلبي رغبتك.',extra: '', dataAos:'flip-left'}
            -const card2 = {img:'grid2', title: 'الأهداف', body: 'نحن نمنح خبراءنا الفرصة ليمارسوا شغفهم من خلال المشاركة بخبراتهم ونمنح عملاءنا الجودة و سرعة التنفيذ والنتيجة التي تحقق طموحاتهم و أهدافهم دون تعقيدات و مقدمات.', extra:'', dataAos:'flip-up'}
            -const card3 = {img:'grid3', title: 'رؤيتنا', body: 'هي المساهمة في صناعة مؤسسات وطنية تعمل بمفهوم الاستدامة و الاستمرارية ,تساهم بشكل مباشر في دعم ركائز الإقتصاد الوطني,من خلال تطبيق معايير العمل المؤسسي و إعادة الهيكلية و وضع قواعد متينة و بنية تحتية صلبة وذلك بتطبيق مجموعة من الخدمات و البرامج التي تجعل المنشأة لديها بيئة عمل جيدة و احترافية و خطة استراتيجية وهدف واحد و هو', extra: '"الحوكمة والاستدامة"', dataAos: 'flip-right'}
            -const cards = [card1, card2, card3]
            each card in cards
                .col
                    .card.h-100.shadow.border-0(data-aos=`${card.dataAos}`)
                        img.card-img-top(src=`./imgs/background/${card.img}.png`, alt='card image', height='269px')
                        .card-body.text-center.card-content
                            h5.card-title.color-primary.fw-bold #{card.title}
                            p.card-text.lh-lg #{card.body}
                                span.d-inline-block.color-primary #{card.extra}
