section.contact
    .container
        +sectionTitle(`${locales.form1["title"]}`)
        .contact-form.mt-4.shadow
            .row.row-cols-1.row-cols-lg-2.justify-content-between(data-aos='zoom-out')
                .img-wrapper.d-none.d-lg-block
                .form-wrapper
                    .content.py-4
                        h3.text-center.color-primary.custom-title2 #{locales.form1["heading"]}
                        p.text-center.color-primary.lh-base.custom-txt
                            span #{locales.form1["txt"]["normal1"]}<span class=fw-bold>#{locales.form1["txt"]["bold1"]}</span> #{locales.form1["txt"]["normal2"]}
                    form.form.row.g-3
                        .col-12.col-lg-6: input.form-control.custom-txt2(type="text" placeholder=`${locales.form1["placeholder1"]}` aria-label="First name")
                        .col-12.col-lg-6: input.form-control.custom-txt2(type="text" placeholder=`${locales.form1["placeholder2"]}` aria-label="Last name")
                        .col-12: input.form-control.custom-txt2(type="email" placeholder=`${locales.form1["placeholder3"]}`)
                        .col-12: input.form-control.custom-txt2#tel(type="tel" name="phone" placeholder=`${locales.form1["placeholder4"]}` pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required)
                        .col-12: textarea.form-control.custom-txt2(rows="5", placeholder=`${locales.form1["placeholder5"]}`)
                        button.btn.mx-auto.button-primary.w-50.mt-4.submit-btn(type="submit") #{`${locales.form1["submitBtn"]}`}
