section.services
    .container
        +sectionTitle(`${locales.services["service1"]["title"]}`)
        .row.justify-content-between.mt-4.service-wrapper
            .col-12.col-lg-4.text-center: img.img-fluid.service-img(src="../imgs/background/service1-2.png", alt="service 1", data-aos='zoom-out-up')
            .col-12.col-lg-8: .content(data-aos='zoom-in-left')
                h3.fs-bold.h3.mb-0.color-primary.text-uppercase.custom-title2 #{locales.services["service1"]["heading1"]}
                p.service-txt.m-0.w-100.custom-txt
                    span #{locales.services["service1"]["txt1"]["normal1"]}<span class='fw-bold'> #{locales.services["service1"]["txt1"]["bold1"]}</span> #{locales.services["service1"]["txt1"]["normal2"]}
        .row.flex-row-reverse.justify-content-between.mt-4
            .col-12.col-lg-4.text-center: img.img-fluid.service-img(src="../imgs/background/service2-2.png", alt="service 1", data-aos='zoom-out-down')
            .col-12.col-lg-8: .content(data-aos='zoom-in-right')
                h3.fs-bold.h3.mb-0.color-primary.text-uppercase.custom-title2 #{locales.services["service1"]["heading2"]}
                p.service-txt.m-0.w-100.custom-txt
                    span #{locales.services["service1"]["txt2"]["normal1"]}<span class='fw-bold'>#{locales.services["service1"]["txt2"]["bold1"]}</span>
