section.how-work
    .container
        +sectionTitle(`${locales.timeline["title"]}`)
        p.service-txt.m-0.w-75.mx-auto.text-center.pt-0.custom-txt.custom-width
            span #{locales.timeline["txt"]["normal"]}
        ul.timeline
            -const howWork1 = {txt: `${locales.timeline["step1"]}`, aos: "fade-right"}
            -const howWork2 = {txt: `${locales.timeline["step2"]}`, aos: "fade-left"}
            -const howWork3 = {txt: `${locales.timeline["step3"]}`, aos: "fade-right"}
            -const howWork4 = {txt: `${locales.timeline["step4"]}`, aos: "fade-left"}
            -const howWork5 = {txt: `${locales.timeline["step5"]}`, aos: "fade-right"}
            -const howWorks = [howWork1, howWork2, howWork3, howWork4, howWork5]
            each how, index in howWorks
                li.timeline(data-aos=`${how.aos}`)
                    .icon.shadow.d-flex.justify-content-center.align-items-center.color-primary(class=`icon-${index+1}`)
                    details.panel
                        summary.custom-txt2 #{how.txt}
